<div class="container">
  <mat-grid-list cols="9" rowHeight="300px" class="no-content-mobile">
    <mat-grid-tile [colspan]="4">
      <mat-card style="width: 100%;">
        <mat-card-header style="margin-left: -10px;">
          <mat-card-title aria-hidden="true">MD5 Hash maker</mat-card-title>
          <mat-card-subtitle aria-hidden="true" style="color: lightcoral;">MD5 is considered unsafe</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <mat-form-field style="margin-top: 3em; margin-bottom: 3em; width:100%;">
              <input matInput [(ngModel)]="noHash" placeholder="Enter text to hash here">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions  style="float:right">
          <button mat-raised-button (click)="onSubmit()" class="btn" color="primary">Hash</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div>
        <i class="fa fa-arrow-right fa-3x center"></i>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" >
      <mat-card style="width: 100%; height: 80%;">
        <mat-card-header>
          <mat-card-title>Hashed value</mat-card-title>
        </mat-card-header>
        <mat-card-content style="word-wrap: break-word;">
          {{hash}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="content-mobile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>MD5 Hash maker</mat-card-title>
        <mat-card-subtitle style="color: lightcoral;">MD5 is considered unsafe</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="noHash" placeholder="Enter text to hash here">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="onSubmit()" class="btn" color="primary">Hash</button>
      </mat-card-actions>
    </mat-card>
    <i class="fa fa-arrow-down fa-3x center content-mobile"></i>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Hashed value</mat-card-title>
      </mat-card-header>
      <mat-card-content style="word-wrap: break-word;">
        {{hash}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
