<mat-toolbar color="primary">
  <a mat-button class="brand-icon" routerLink="/dashboard" routerLinkActive="active">
    <p class="brand-icon-button">Carpentier</p>
  </a>
  <a mat-button routerLink="/mylinks" routerLinkActive="active">My links</a>
  <a mat-button routerLink="/itsecurity" routerLinkActive="active">IT-Security</a>
  <a mat-button routerLink="/aboutsite" routerLinkActive="active">About this site</a>
</mat-toolbar>

<div class="content content-stretch">
  <router-outlet></router-outlet>
</div>
